.comment {
  font-family: monospace;
  color: green;
  padding: 8px;
  border-radius: 4px;
  white-space: pre-line;
}

#presentation {
  background-image: url("/images/programador_irun_unai_canales.webp");
  
}